# ษัอออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออัป
# บณ		       Pipe Viewer Config File			   ณบ
# ศฯอออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออออฯผ
#
#  ฃ ฏฎขฎpฎโ  ข ฃp คใแ ๅ ( ฎ ใฌฎซ็ ญจ๎ 1 ฃp คใแ )
 Rotate_Angle = 1
#  ฃ ใฌฅญ์่ฅญจ๏/ใขฅซจ็ฅญจ๏ ( ฎ ใฌฎซ็ ญจ๎ ข 1.1 p ง  )
 Scale_Power = 1.2
#  ฃ คขจฆฅญจ๏ ข ฏจชแฅซ๏ๅ จงฎกp ฆฅญจ๏ ( ฎ ใฌฎซ็ ญจ๎ 32 ฏจชแฅซ๏ )
 Move_Step = 64
# ฎซจ็ฅแโขฎ ฎกp งใ๎้จๅ ซจญจฉ โpใก๋ ( ฎ ใฌฎซ็ ญจ๎ 32 ซจญจจ )
 Creative_Lines = 32
