A:link {text-decoration: none; color: Blue; FONT-WEIGHT: bolder;}
A:visited {text-decoration: none; color: Fuchsia; FONT-WEIGHT: bolder;}
A:hover  {color:#A300ED; text-decoration:none; FONT-WEIGHT: bolder;}
strong{color: #006699}
H1 {Font-Size: 150%; Text-Align: center; FONT-WEIGHT: bolder; COLOR: #0008BB; Font-Family: Arial, "Comic", "Times New Roman", Serif, Times; margin-top: 35pt; margin-bottom: 35pt;}
H2 {Font-Size: 130%; margin-top: 20pt; margin-bottom: 20pt;}
H3 {Font-Size: 110%; margin-top: 8pt; margin-bottom: 8pt;}
P {text-align: justify; margin-top: 3pt; margin-bottom: 3pt; Text-Indent: 30pt; Font-Family: "Times New Roman", Serif, Times}
P.Primer {margin: 10px 30px 10px 30px;}
LI {text-align: justify; Font-Family: "Times New Roman", Serif, Times; Font-Size:95%;}
PRE {
     Font-Size:90%;
     padding: 8px 4px 8px 4px;
     COLOR: 00008B;
     background-color:#eeeeee;
    }
TD {Font-Size: 90%; padding: 4px 4px 4px 4px; border-color: darkgray darkgray darkgray darkgray;}
table{border-color: darkgray darkgray darkgray darkgray; margin: 20px 30px 20px 30px;}
TH {Font-Size: 90%; border-color: darkgray darkgray darkgray darkgray;padding: 4px 4px 4px 4px;}
SUB{Font-Size: 8pt}
SUP{Font-Size: 8pt}
Dir{Font-Size:9pt; Line-Height: 10pt;Font-Family: "Arial","Courier New","Times New Roman", Serif, Times}
Body {margin: 35px 30px 20px 30px; text-align: justify; Font-Family: "Times New Roman", Serif, Times}
IMG {margin: 3pt 5pt 3pt 3pt;}
div{margin: 15pt 20pt 15pt 20pt; Font-Family: "Arial", "Times New Roman", Serif, Times; Font-Size:85%; FONT-WEIGHT: 550;}
#Zagolovok  {FONT-WEIGHT: bolder; Font-Size:150%; COLOR: #0008BB; Font-Family: "Comic", "Times New Roman", Serif, Times}
#Zagolovok1 {FONT-WEIGHT: bolder; Font-Size:130%; COLOR: #0008BF; Font-Family: "Comic", "Times New Roman", Serif, Times}
.l{text-align: left;}
.melk{font-size:75%; Text-Indent:0;}
.Otstup{Text-Indent: 30pt}
.Program{Font-Family: "Courier New", "Arial", "Times New Roman", Serif, Times}
.Otstup1{margin-left: 0pt; margin-bottom: 5pt}
.Ot{text-align:left}
.Of{text-align: center; FONT-WEIGHT: bolder; Font-Size:105%;margin: 15px 0px 15px 0px; font-style:italic}